[submodule ".tmux/plugins/tmux-urlview"]
	path = .tmux/plugins/tmux-urlview
	url = https://github.com/tmux-plugins/tmux-urlview
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
